In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import yfinance as yf
import math
import matplotlib.pyplot as plt
import talib as ta

In [8]:
# This strategy is not working on NSE
def backtest_OCC(df, ticker, investment):
    openSeries = df['OpenMA9']
    close = df['Close']
    closeSeries = df['CloseMA9']
    open = df['Open']
    date = df['Date']
    trendSMA = df['SMA200']
    
    # initial condition
    in_position = False
    equity = investment
    commission = 50
    share = 0
    entry = []
    exit = []
    tradeCount=0
    buyDate = ''
    sellDate = ''
    buyPrice = 0
    sellPrice = 0
    
    for i in range(2, len(df)):
        # if not in position & price is on uptrend -> buy
        if not in_position and (openSeries[i] < closeSeries[i] and openSeries[i-1] > closeSeries[i-1] and close[i]>trendSMA[i]):
            share = math.floor(equity / open[i+1] )
            equity -= share * open[i+1]
            buyDate = date[i+1]
            entry.append((i, open[i+1], buyDate, share))
            in_position = True
            tradeCount += 1
            
            #print(f'Buy {share} shares at {round(close[i],2)} on {df.index[i].strftime("%Y/%m/%d")}')
        # if in position & price is not on uptrend -> sell
        elif in_position and (openSeries[i] > closeSeries[i] and openSeries[i-1] < closeSeries[i-1]):
            equity += share * open[i+1] - commission
            sellDate = date[i]
            exit.append((i, open[i+1], sellDate, equity, share))
            in_position = False
            #print(f'Sell at {round(close[i],2)} on {df.index[i].strftime("%Y/%m/%d")}')
        
    
    earning = equity - investment
    roi = round(earning/investment*100,2)
    print(f'{ticker} :\t Earning from investing {investment} is ${round(earning,2)} \t (ROI = {roi}%) \t Trades={tradeCount}')
    return entry, exit, earning, tradeCount

In [10]:
symbol = '^NSEI' 
df = yf.download(symbol, start='2015-01-01') 
df['OpenMA9'] = ta.SMA(df['Open'], timeperiod=9)
df['CloseMA9'] = ta.SMA(df['Close'], timeperiod=9)
df['SMA200'] = ta.SMA(df['Close'], timeperiod=200)
df.dropna()
df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,OpenMA9,CloseMA9,SMA200
Date,,,,,,,,,
2015-01-02,8288.700195,8410.599609,8288.700195,8395.450195,8395.450195,101900,NaN,NaN,NaN
2015-01-05,8407.950195,8445.599609,8363.900391,8378.400391,8378.400391,118200,NaN,NaN,NaN
2015-01-06,8325.299805,8327.849609,8111.350098,8127.350098,8127.350098,172800,NaN,NaN,NaN
2015-01-07,8118.649902,8151.200195,8065.450195,8102.100098,8102.100098,164100,NaN,NaN,NaN
2015-01-08,8191.399902,8243.500000,8167.299805,8234.599609,8234.599609,143800,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2021-12-08,17315.250000,17484.599609,17308.949219,17469.750000,17469.750000,257800,17191.844618,17154.171875,16163.692720
2021-12-09,17524.400391,17543.250000,17379.599609,17516.849609,17516.849609,237200,17212.472439,17208.660807,16174.709717
2021-12-10,17476.050781,17534.349609,17405.250000,17511.300781,17511.300781,204500,17259.166884,17259.477648,16186.221719
2021-12-13,17619.099609,17639.500000,17355.949219,17368.250000,17368.250000,256600,17322.272352,17302.261068,16197.468218
2021-12-14,17283.199219,17376.199219,17225.800781,17324.900391,17324.900391,0,17342.138889,17319.816623,16209.183970

In [11]:
df['Date'] = df.index
entry, exit, roi, tradeCount= backtest_OCC(df,symbol, 10000)
entryDF = pd.DataFrame(entry,columns=['Day','BuyPrice','BuyDate', 'share'])
exitDF = pd.DataFrame(exit,columns=['Day','SellPrice','SellDate','Equity','share'])
result = pd.merge(entryDF, exitDF, left_index=True, right_index=True)
result['PnL'] = (result['SellPrice'] - result['BuyPrice'])/result['BuyPrice']*100
result

^NSEI :	 Earning from investing 10000 is $-4249.75 	 (ROI = -42.5%) 	 Trades=85

,Day_x,BuyPrice,BuyDate,share_x,Day_y,SellPrice,SellDate,Equity,share_y,PnL
0,315,7891.799805,2016-04-22,1,321,7822.700195,2016-04-29,9880.900391,1,-0.875587
1,329,7871.450195,2016-05-12,1,336,7813.950195,2016-05-20,9773.400391,1,-0.730488
2,340,8081.950195,2016-05-27,1,350,8180.250000,2016-06-09,9821.700195,1,1.216288
3,357,8255.400391,2016-06-21,1,375,8564.049805,2016-07-15,10080.349609,1,3.738758
4,377,8515.450195,2016-07-20,1,380,8519.950195,2016-07-22,10034.849609,1,0.052845
...,...,...,...,...,...,...,...,...,...,...
80,1615,16195.250000,2021-08-04,0,1647,17450.500000,2021-09-20,5950.250000,0,7.750729
81,1648,17580.900391,2021-09-22,0,1653,17657.949219,2021-09-28,5900.250000,0,0.438253
82,1658,17861.500000,2021-10-06,0,1659,17810.550781,2021-10-06,5850.250000,0,-0.285246
83,1662,17915.800781,2021-10-12,0,1667,18439.900391,2021-10-19,5800.250000,0,2.925348
84,1703,17619.099609,2021-12-13,0,1704,17283.199219,2021-12-13,5750.250000,0,-1.906456