In [4]:
import pandas as pd
import numpy as np
from datetime import datetime
import yfinance as yf
import math
import matplotlib.pyplot as plt
import talib as ta

In [42]:
# This strategy is not working on NSE

def backtest_RSI(df, ticker, investment):
    rsi = df['RSI']
    close = df['Close']
    open = df['Open']
    sma200 = df['SMA200']
    
    date = df['Date']
    
    # initial condition
    in_position = False
    equity = investment
    commission = 50
    share = 0
    entry = []
    exit = []
    tradeCount=0
    buyDate = ''
    sellDate = ''
    buyPrice = 0
    sellPrice = 0
    
    for i in range(2, len(df)):
        # if not in position & price is on uptrend -> buy
        if not in_position and (rsi[i] < 30) and close[i] > sma200[i]:
            share = math.floor(equity / open[i+1] )
            equity -= share * open[i+1]
            buyDate = date[i+1]
            entry.append((i, open[i+1], buyDate, share))
            in_position = True
            tradeCount += 1
            
            #print(f'Buy {share} shares at {round(close[i],2)} on {df.index[i].strftime("%Y/%m/%d")}')
        # if in position & price is not on uptrend -> sell
        elif in_position :
            for j in range(1, 11):
                if(rsi[i + j] > 30 ):
                    equity += share * open[i + j + 1] - commission
                    sellDate = date[i + j + 1]
                    exit.append((i + j + 1, open[i + j +1], sellDate, equity, share))
                    in_position = False
                    i=(i+j)
                    break;
                
                elif j==10:
                    equity += share * open[i + j + 1] - commission
                    sellDate = date[i + j + 1]
                    exit.append((i + j + 1, open[i + j + 1], sellDate, equity, share))
                    in_position = False
                    i=(i+j)
                    break;
            
            #print(f'Sell at {round(close[i],2)} on {df.index[i].strftime("%Y/%m/%d")}')
        
    
    earning = equity - investment
    roi = round(earning/investment*100,2)
    print(f'{ticker} :\t Earning from investing {investment} is ${round(earning,2)} \t (ROI = {roi}%) \t Trades={tradeCount}')
    return entry, exit, earning, tradeCount

In [44]:
symbol = '^NSEI' 
df = yf.download(symbol, start='2015-01-01') 
df['RSI'] = ta.RSI(df['Close'], timeperiod=10)
df['SMA200'] = ta.SMA(df['Close'], timeperiod=200)
df.dropna()
df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,RSI,SMA200
Date,,,,,,,,
2015-01-02,8288.700195,8410.599609,8288.700195,8395.450195,8395.450195,101900,NaN,NaN
2015-01-05,8407.950195,8445.599609,8363.900391,8378.400391,8378.400391,118200,NaN,NaN
2015-01-06,8325.299805,8327.849609,8111.350098,8127.350098,8127.350098,172800,NaN,NaN
2015-01-07,8118.649902,8151.200195,8065.450195,8102.100098,8102.100098,164100,NaN,NaN
2015-01-08,8191.399902,8243.500000,8167.299805,8234.599609,8234.599609,143800,NaN,NaN
...,...,...,...,...,...,...,...,...
2021-12-08,17315.250000,17484.599609,17308.949219,17469.750000,17469.750000,257800,51.521852,16163.692720
2021-12-09,17524.400391,17543.250000,17379.599609,17516.849609,17516.849609,237200,52.801999,16174.709717
2021-12-10,17476.050781,17534.349609,17405.250000,17511.300781,17511.300781,204500,52.620110,16186.221719
2021-12-13,17619.099609,17639.500000,17355.949219,17368.250000,17368.250000,256600,47.894194,16197.468218
2021-12-14,17283.199219,17376.199219,17225.800781,17324.900391,17324.900391,0,46.488370,16209.183970

In [45]:
df['Date'] = df.index
entry, exit, roi, tradeCount= backtest_RSI(df,symbol, 10000)
entryDF = pd.DataFrame(entry,columns=['Day','BuyPrice','BuyDate', 'share'])
exitDF = pd.DataFrame(exit,columns=['Day','SellPrice','SellDate','Equity','share'])
result = pd.merge(entryDF, exitDF, left_index=True, right_index=True)
result['PnL'] = (result['SellPrice'] - result['BuyPrice'])/result['BuyPrice']*100
result

^NSEI :	 Earning from investing 10000 is $-1468.25 	 (ROI = -14.68%) 	 Trades=20

,Day_x,BuyPrice,BuyDate,share_x,Day_y,SellPrice,SellDate,Equity,share_y,PnL
0,448,8535.750000,2016-11-07,1,451,8067.500000,2016-11-09,9481.75,1,-5.485751
1,640,9755.750000,2017-08-14,0,643,9945.549805,2017-08-17,9431.75,0,1.945517
2,671,9736.400391,2017-09-28,0,674,9893.299805,2017-10-03,9381.75,0,1.611472
3,719,10063.450195,2017-12-07,0,722,10310.500000,2017-12-11,9331.75,0,2.454922
4,760,10607.200195,2018-02-07,0,763,10416.500000,2018-02-09,9281.75,0,-1.797837
5,779,10216.250000,2018-03-08,0,782,10301.599609,2018-03-12,9231.75,0,0.835430
6,831,10464.849609,2018-05-24,0,834,10648.349609,2018-05-28,9181.75,0,1.753489
7,915,10969.950195,2018-09-25,0,918,11079.799805,2018-09-27,9131.75,0,1.001368
8,919,10930.900391,2018-10-01,0,927,10169.799805,2018-10-11,9081.75,0,-6.962835
9,921,10754.700195,2018-10-04,0,927,10169.799805,2018-10-11,9031.75,0,-5.438556
10,1065,11258.700195,2019-05-13,0,1068,11271.700195,2019-05-15,8981.75,0,0.115466
11,1068,11180.349609,2019-05-16,0,1071,11651.900391,2019-05-20,8931.75,0,4.217675
12,1115,11372.250000,2019-07-23,0,1127,10958.099609,2019-08-07,8881.75,0,-3.641763
13,1117,11290.400391,2019-07-25,0,1129,11087.900391,2019-08-09,8831.75,0,-1.793559
14,1119,11307.500000,2019-07-29,0,1129,11087.900391,2019-08-09,8781.75,0,-1.942070
15,1245,11786.250000,2020-02-04,0,1248,12120.000000,2020-02-06,8731.75,0,2.831689
16,1405,10910.400391,2020-09-25,0,1408,11288.599609,2020-09-29,8681.75,0,3.466410
17,1689,17281.750000,2021-11-23,0,1692,17417.300781,2021-11-25,8631.75,0,0.784358
18,1693,17055.800781,2021-11-29,0,1697,17183.199219,2021-12-02,8581.75,0,0.746951
19,1695,17104.400391,2021-12-01,0,1698,17424.900391,2021-12-03,8531.75,0,1.873787